/vendor/
/node_modules/
npm-debug.log
yarn-error.log
.env
.env.*
!.env.example
.phpunit.result.cache
phpunit.xml
Homestead.json
Homestead.yaml
/.idea
/.vscode
/.vagrant
/public/hot
/public/storage
/storage/*.key
/storage/pids
.php_cs
.php_cs.cache
composer.lock
